.user-input-wrapper {
    width: 30rem;
    max-width: 95%;
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.user-input {
    margin: 0.5rem 0;
}

.user-input label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    color: #3e5700;
}

.user-input input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;
}

.user-input input:focus {
    outline: none;
    background: #f4f9e8;
    border-color: #3e5700;
}

.user-input.invalid input {
    border-color: red;
    background: #ffd7d7;
}

.user-input.invalid label {
    color: red;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .user-input-wrapper{
        width: 250px;
    }
}