.button {
  font: inherit;
  border: 1px solid #476002;
  background: #4f6f00;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #4f6f00;
  border-color: #658804;
}

.button:focus {
  outline: none;
}
